{% extends 'app_gestao/base.html' %}

<!-- titulo da guia na página do navegador -->
{% block titulo %}
  <title>Home</title>
{% endblock %}



{% block conteudo %} 
  <!-- Define um espaçamento para centralizar o formulário -->
  <style>.mt-6 {margin-top: 8rem;}</style>
  <!-- Navbar com título centralizado -->
  <nav style="background-color: darksalmon !important;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-center">
      <span class="navbar-brand mb-0 h1">SISTEMA DE CONTROLE DE ATRASOS 2.0</span>
    </div>
  </nav>
  <div class="mt-6"></div>
  <!-- Formulário centralizado no meio da tela -->
  <div class="d-flex flex-column min-vh-75">
    <div class="d-flex flex-grow-1 align-items-center justify-content-center">
        <div class="card p-4 shadow-lg" style="width: 300px;">
            <h2 class="text-center mb-4">Login</h2>
            {% if form.errors %}
                <div class="alert alert-danger">Nome de usuário ou senha inválidos.</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid mt-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}