{% extends 'app_gestao/base.html' %}

<!-- titulo da guia na página do navegador -->
{% block titulo %}
  <title>Registrar Presença</title>
{% endblock %}


{% block conteudo %}
  <div class="container">
      <h3><p class="text-center">Registrar Presença</p></h3>
      <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="data" class="form-label">Data da Presença:</label>
              <input type="date" name="data" class="form-control" id="data">
          </div>
          <button type="submit" class="btn btn-primary">Confirmar Data</button>
      </form>

      {% if turmas %}
          <h2>Turmas:</h2>
          <div class="list-group">
              {% for turma in turmas %}
                  <a href="{% url 'alunos_turma' turma=turma %}" class="list-group-item list-group-item-action">{{ turma }}</a>
              {% endfor %}
          </div>
      {% endif %}

      {% if alunos %}
          <h2>Alunos da Turma {{ turma_selecionada }}:</h2>
          <form method="post">
              {% csrf_token %}
              <input type="hidden" name="data_presenca" value="{{ data_selecionada }}">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Nome</th>
                          <th>Presente</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for aluno in alunos %}
                          <tr>
                              <td>{{ aluno.nome_estudante }}</td>
                              <td>
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="presenca_{{ aluno.ra }}" value="1" id="presenca_{{ aluno.ra }}" checked>
                                      <label class="form-check-label" for="presenca_{{ aluno.ra }}">Presente</label>
                                  </div>
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
              <button type="submit" class="btn btn-success">Salvar Presenças</button>
          </form>
      {% endif %}
  </div>
{% endblock %}